{% extends "base.html" %}
{% block extrahead %}
<link rel="stylesheet"  href="/static/aardlagen.css"  >
{% endblock %}

{% block content %}
<h2>Aardlagen</h2>

<p>Over de vorming van aardlagen valt veel te zeggen. Dit proces zou volgens veel tekstboeken heel veel tijd kosten. 
Hierbij wordt gewezen op de kleine laagjes die je in veel aardlagen kunt zien. Is elke laag een jaar?</p>

<p>Opvallend is dat er in grote afzettingen met heel veel van die laagjes grote fossielen begraven liggen. 
Het kan natuurlijk niet zo zijn dat die dieren laagje voor laagje bedekt zijn in de loop van vele jaren, zonder te verrotten.</p>

<iframe id='meng-clip' class='clip'src="http://www.youtube.com/embed/GOwvxUTTNJ0" frameborder="1" allowfullscreen></iframe>
<p>In het filmpje hiernaast laat ik een simpele manier zien om in korte tijd laagjes te krijgen. 
Wat nodig is, is schuivende grond met deeltjes met verschillende eigenschappen, zoals dichtheid en deeltjesgrootte. Ik heb fijn zand en krijt gebruikt.</p>


{% endblock %}