{% macro image(link, id, class=None) %}
<a href="#{{ id }}_modal" role="button" data-toggle="modal" class="img_link">
  <img id="{{ id }}" class="{{ class if class }} img-polaroid" src="{{ link }}">
</a>

<div id="{{ id }}_modal" class="modal hide fade" tabindex="-1" role="dialog" 
  aria-labelledby="{{ id }}_modal_label" aria-hidden="true">
  <div class="modal-body">
    <img src="{{ link }}">
  </div>
</div>
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
    <script src="/static/jquery.min.js"></script>
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap/bootstrap.min.js"></script>
    <script src="/static/odeo.js"></script>
    <link href="/static/odeo.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    {% block extrahead %}{% endblock %}
  </head>
  <body>
  <div class="row">
      <div class="pageheader">
        <h1 id="heading">
          <div id="title">OdeO </div>
          <div id="subtitle"><small>Onderzoek <br />de <br /> Oorsprong</small></div>
        </h1>
      </div>
  </div>
  <div class='row'>
    <div  class="container" id="nav">
      <ul class="nav nav-tabs">
        <li id="home"><a href='/'>Home</a></li>
        <li id="spontaan"><a href='/spontaan'>Spontaan ontstaan leven</a></li>
        <li id="leven"><a  href='/leven'>Leven maken</a></li>
        <li id="eenvoudig" class="dropdown">
          <a class='dropdown-toggle' data-toggle="dropdown" href='/eenvoudig'>
            Eenvoudige cel
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href='/eenvoudig/robot'>robot</a>
            </li>
            <li>
              <a href='/eenvoudig/cel'>cel</a>
            </li>
            <li>
              <a href='/eenvoudig/ontstaan'>ontstaan van de cel</a>
            </li>
            <li>
              <a href='/eenvoudig/extremofielen'>extremofielen</a>
            </li>
          </ul>
        </li>
        <li id="fossielen"><a href='/fossielen'>Fossielen</a></li>
        <li id="cambrium"><a href='/cambrium'>Cambrische Explosie</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span9 offset4"id="container">{% block content %}{% endblock %}</div>
  </div>
  </body>
</html>
