{% extends 'base.html' %}
{% block extrahead %}
<link rel='stylesheet' href='/static/bronnen.css'>
{% endblock %}
{% block content %}
<div class='row'>
    <div id='column1' class='span5'>
        <div id='spontanea' class='bron'>
            <p>Cock, Yves de. <i><a href='http://historiek.kvcv.be/Artikelen/ECHO/Echo10art01.pdf' target='blanc'>Pasteur en de Generatio Spontanea</a></i>, geraadpleegd op 11 mei 2013</p>
        </div>
    </div>
    <div id='column2' class='span4'>
    </div>
    </div>
{% endblock %}