{% extends "base.html" %}
{% block extrahead %}
<link rel="stylesheet" href="/static/cambrium.css">
{% endblock %}
{% block content %}
<h2>Cambrische explosie
</h2>
<p>Het Cambrium is gevuld met leven. Een enorme verscheidenheid aan soorten. 
Wetenschappers vinden het lastig te verklaren dat er in korte tijd zoveel verschillende soorten levensvormen ontstaan zijn. 
In de aardlagen onder het Cambrium vind je namelijk nauwelijks fossielen en dan opeens zoveel. 
</p>

{{ image('/static/cambrium1.jpg', 'cambrium1', "<p>In het Cambrium verschijnen plotseling enorm veel soorten levensvormen. 
Zo veel dat er gesproken wordt over een explosie van leven.</p>") }}
<p>Er rijzen vragen op als:
</p>
<p>* Hoe zagen de voorouders van al die levensvormen eruit?
</p>
<p>* Waarom zijn die voorouders niet te vinden in de lagen voor het Cambrium?
</p>
<p>* Hoe kan het dat de genetische informatie zo snel ontstaan is?
</p>
<p>* Hoe kan het dat de dieren in het Cambrium 'af' zijn? Je verwacht vele tussenvormen die duidelijk nog niet af zijn.
</p>
<p>Er zijn duidelijk nog genoeg vragen onbeantwoord gebleven. Toch wil ik voorzichtig <a href="conclusie">enkele conclusies</a> trekken.</p> 
{% endblock %}