{% extends "base.html" %}
{% block extrahead %}
<link rel="stylesheet" href="/static/cel.css">
{% endblock %}
{% block content %}
<h2>De cel</h2>

{{ image('/static/cel.jpg', 'cel') }}
<p>Het is nog maar kort in de geschiedenis dat we de cel kunnen zien. </p>
<p>In 1667 werden cellen van een kurk voor de eerste keer bekeken met een eenvoudige microscoop. </p>
<p>Levende cellen bleken te bestaan uit 'slijmerige vloeistof' en in 1831 werd ontdekt dat er in die vloeistof ook nog onderdelen te onderscheiden waren.</p>
<p>Ondertussen kunnen we cellen bekijken met zeer sterke microscopen en weten we dat ze hoewel ze heel klein zijn, toch ongelooflijk ingewikkeld in elkaar zitten.
</p>
<p>Een mooi overzicht van de geschiedenis van de cel kun je via 
<a href='http://home.kpn.nl/b1beukema/cel.html'>deze link</a>. 
 vinden. 
</p>

{% endblock %}