{% extends "base.html" %}
{% block extrahead %}
<link href="/static/conclusie.css" rel="stylesheet">
{% endblock %}
{% block content %}
<h2>Conclusie</h2>
<p>Wetenschappers doen nog steeds hun best op de vragen, die in deze site aan bod zijn gekomen, antwoord te krijgen.</p>

<p>Totdat deze antwoorden gegeven zijn is het volgens mij niet eerlijk om in de boekjes van de middelbare school 
net te doen alsof het allemaal wel duidelijk is. Zinnen als 'Hoe dit proces op gang is gekomen, is nog niet duidelijk.' zouden er eigenlijk veel vaker in moeten staan.
De theorie over het ontstaan van het leven en de ontwikkeling van het leven is zeker niet af. Vragen in overvloed.</p>

<p>Mijn tips:</p>

<p>1. durf vragen te stellen;</p>

<p>2. neem degene aan wie je de vraag stelt serieus (ook als je een andere mening hebt);</p>

<p>3. wees je bewust dat er op school vaak simpelere antwoorden gegeven worden, omdat de werkelijkheid vaak erg complex in elkaar zit. </p>

{% endblock %}