{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/extremofielen.css">

<h2>Extremofielen</h2>


{{ image('/static/extremofielen.jpg', 'extremofielen', 
"<a href='https://www.google.nl/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&docid=iLzIflzTGTgEKM&tbnid=ft7xVksOE5DWFM:&ved=0CAUQjRw&url=http%3A%2F%2Fwww.kennislink.nl
%2Fpublicaties%2Fgm-micro-organismen-chemische-fabriekjes&ei=bt6DUbvMK6Om0wWcxIBo&bvm=bv.45960087,d.d2k&psig=AFQjCNGbbiyYCykDXFvuFSLr2CNvQlafaQ&ust=1367683025296666'>
<p>Extremofielen komen voor in de meest extreme omstandigheden op aarde. Hierbij kun je denken aan heel hoge temperatuur zoals in het water van deze geiser.</p></a>") }}
<p>Extremofielen zijn volgens de huidige inzichten de vroegste levensvormen op aarde, zoals je kunt lezen via 
<a href='http://nl.wikipedia.org/wiki/Extremofiel'>deze link</a> en 
<a href='http://www.natuurinformatie.nl/nnm.dossiers/natuurdatabase.nl/i002639.html'>deze link</a>. 
Hoewel er op <a href='http://www.bionieuws.nl/artikel.php?id=6015&print=1'>sommige sites</a> wel gezegd wordt dat de extremofielen zijn aangepast 
aan deze extreme omstandigheden met bijzondere moleculen.</p>

<p>Dat roept bij mij opnieuw vragen op. </p>
<p>Wanneer er gesproken wordt over aanpassing, lijkt dat te wijzen op eerdere levensvormen die deze aanpassing nog niet hadden. 
Hoe zagen de minder aangepaste levensvormen er dan uit? En hoe konden zij overleven zonder die aanpassingen aan de extreme omstandigheden van de jonge aarde?
</p>

{% endblock %}