{% extends "base.html" %}
{% block extrahead %}
<link href="/static/fossielen.css" rel="stylesheet" >
{% endblock %}
{% block content %}
<h2>Fossielen
</h2>
<h3>Weke delen
</h3>
<p>In het citaat uit het tekstboek van aardrijkskunde wordt gezegd dat er nauwelijks fossielen zijn van voor het Cambrium. 
Als verklaring wordt gegeven dat de toen levende wezens nog geen harde skeletten hadden. 
Dit is opvallend, want zelfs op internet zijn veel foto's te vinden van bijvoorbeeld versteende kwallen, die ook geen hard skelet hebben.
</p>
<p>Het is inderdaad wel raar dat beesten zonder skelet fossiliseren, want dan moet het bedekkingsproces heel snel gegaan zijn. 
</p>
<p>Om een levend wezen in een fossiel te veranderen, moet het afgesloten worden van zuurstof, zodat het niet kan gaan rotten. 
</p>
<p>Aan veel fossielen is te zien dat het proces heel snel gegaan is. Denk maar aan de vissen met een andere vis in hun bek. Dat is niet een situatie waarbij het beestje dood is gegaan en dan laagje voor laagje bedolven is door modder. Bekijk ook de pagina over de vorming van aardlagen.
</p>
 

<h3>Verstening
</h3>
<p>Het proces waarbij materialen als hout en huid omgezet worden in steen is een scheikundig proces dat gemakkelijk nagedaan kan worden in een laboratorium.1 Maar ook in de buurt van vulkanen met water waarin veel mineralen zijn opgelost, vindt verstening plaats in korte tijd. Toch is op heel veel sites te lezen dat dit proces honderden miljoenen jaren zou duren. Voor een voorbeeld klik hier.
</p>
<p>Ook in Engeland kun je voorwerpen zoals een teddybeer in een waterval hangen. Binnen enkele weken tot maanden zal het voorwerp versteend zijn. Op hardere voorwerpen komt alleen een laag steen. 
</p>
<p>Verstening is dus geen proces dat lang hoeft te duren als de omstandigheden maar gunstig zijn.
</p>
<h3>Precambrische leegte
</h3>
<p>Hoe het dan toch kan dat er voor het Cambrium zo weinig levende wezens als fossiel gevonden worden? Misschien waren ze er niet... Maar dan is des te moeilijker te verklaren waarom er in het Cambrium opeens zo heel veel verschillende soorten zijn. Zo veel dat er over een Cambrische explosie wordt gesproken.
</p>
<p>Een explosie? Er wordt bedoeld een plotseling verschijnen van een heleboel levensvormen. Alsof de evolutie opeens megasnel gegaan is.
</p>
<p>Meer weten over de Cambrische explosie? Klik dan hier.
</p>
<p>1. Phil McCafferty, 'Instant petrified wood?', Popular Science, October 1992, pp. 56-57.?
</p>
{% endblock %}