{% extends "base.html" %}
{% block extrahead %}
<link href="/static/home.css" rel="stylesheet">
{% endblock %}
{% block content %}
<h2>Onderzoek de Oorsprong</h2>
<p>
  Als mens willen we graag weten waar we vandaan komen en of het op één of andere 
  manier zin heeft dat we er zijn. Op deze website wil ik graag een bijdrage leveren 
  door mee te denken en vragen te stellen. 
</p>
<p>
  Ik heb scheikunde gestudeerd en ben sinds 1996 leraar in het voortgezet onderwijs.
</p>
<p>
  In het aardrijkskundeboek van een collega las ik het volgende:
</p>
<blockquote>
  {{ image('/static/atlantis1.jpg', 'atlantis') }}
  <p>
    Het leven op aarde begon vier miljard jaar geleden in zee. De aarde bestond toen
    circa 500 miljoen jaar. Het gangbare uitgangspunt is dat op een gegeven moment in
    de oersoep die de aarde bedekte, moleculen ontstonden die zich konden 
    reproduceren: het begin van het leven. Hoe dit proces op gang is gekomen, is nog 
    niet duidelijk.
  </p>
  <p>
    Er zijn weinig fossielen teruggevonden uit de periode vanaf het begin van het 
    leven tot het Cambrium (550 miljoen jaar geleden). De organismen in het
    Precambrium hadden namelijk nog geen harde skeletten. Vanaf het Cambrium trad een
    enorme uitbreiding van het aantal soorten op.
  </p>
  <small>
    Atlantis Actieve Aarde ThiemeMeulenhoff
  </small>
</blockquote>

<p>
  Het roept bij mij wat vragen op als ik dit lees.
</p>
<ol>
  <li><a href="/spontaan">Ontstaat leven spontaan? </a></li>
  <li><a href="/leven">Kan de mens zelf leven maken?</a></li>
  <li><a href="/eenvoudig/robot">Hoe eenvoudig is een levende cel?</a></li>
  <li><a href="/fossielen">Waarom zijn er bijna geen fossielen uit het Precambrium?</a></li>
  <li><a href="/cambrium">Hoe wordt die enorme uitbreiding in het Cambrium verklaard?</a></li>
</ol>
<div id="signature">
  <p>Marco</p>
</div>
{% endblock %}
