{% extends "base.html" %}
{% block extrahead %}
<link href="/static/leegte.css" rel="stylesheet">
{% endblock %}
{% block content %}


<h3>Precambrische leegte
</h3>
{{ image('/static/explosie.jpg', 'explosie', "<p> Het plotseling verschijnen van zeer uiteenlopende levensvormen in de aardlaag 
boven het Precambrium, waarin niet of nauwelijks fossielen van levensvormen voorkomen, wordt de Cambrische explosie genoemd. </p>") }}
<p>Hoe het dan toch kan dat er voor het Cambrium zo weinig levende wezens als fossiel gevonden worden? Misschien waren ze er niet... Maar dan is des te moeilijker te verklaren waarom er in het Cambrium opeens zo heel veel verschillende soorten zijn. Zo veel dat er over een Cambrische explosie wordt gesproken.
</p>
<p>Een explosie? Er wordt bedoeld een plotseling verschijnen van een heleboel levensvormen. Alsof de evolutie opeens megasnel gegaan is.
</p>
<p>Meer weten over de Cambrische explosie? <a href='/cambrium'>Klik hier</a>.
</p>

{% endblock %}