{% extends "base.html" %}
{% block extrahead %}
<link href="/static/leven.css" rel="stylesheet">
{% endblock %}
{% block content %}
<h2>Leven maken</h2>
<h3>Cadeautje</h3>
{{ image('/static/Eliza.jpg', 'eliza') }}
{{ image('/static/plantje.jpg', 'right150') }}
<p>Mijn dochter (11 jaar) gaf me twee weken geleden een paar zaadjes in een beker met
aarde. Na een paar dagen kwamen er kleine plantjes uit. Zo leuk om te zien.
</p>
<p>
  Een beetje water erbij. Helaas wat te veel.... En de kleine plantjes overleefden 
  het niet.
</p>
<p>
Plantjes in leven houden is een hele kunst. Het leven is zo kwetsbaar!
</p>

<h3 id="hspontaan">Spontaan</h3>
<p>
   Toch is het leven volgens de evolutietheorie zonder hulp van buitenaf ontstaan. 
   Je zou zeggen dat het dan toch ook mogelijk moet zijn om in een laboratorium leven
   te maken.
</p>
<p>
Vanaf de jaren 50 van de vorige eeuw zijn wetenschappers daar hard mee bezig. 
</p>
<p>
  Het is ons nog niet gelukt om een mens uit levenloos materiaal op te bouwen. Maar
  ook eenvoudigere levensvormen als een libelle blijken te moeilijk te zijn voor de
  mens. Een eencellig bacterie is te hoog gegrepen. Het zichzelf kopiërende molecuul
  uit de oersoep dan? Helaas. Wat kunnen we wel?
</p>
<p>
  Je zou er na ruim zestig jaar bijna moedeloos van worden. Leven maken is toch
  eigenlijk best lastig.
</p>
<h3>Levende scheikunde</h3>
{{ image('/static/MUexperiment.png', 'MUexperiment') }}
<p>
  In 1953 wisten Stanley Miller en Harold Urey de bouwstenen van eiwitten,
  aminozuren, te maken door enkele gassen te mengen en met bliksem te bestoken. De
  eerste stap op weg naar leven? Ondertussen is duidelijk geworden dat dit een
  doodlopende route is.
</p>
{{ image('/static/aminozuur.jpg', 'alanine') }}
<p>
  Vele jaren van experimenteren later zijn de geleerden het er over eens dat DNA te
  ingewikkeld is om te maken. Om DNA te maken heb je ingewikkelde eiwitten nodig en
  om eiwitten te kunnen maken heb je DNA nodig.
</p>
<p>
  Er moet een wereld zijn geweest die de informatie opsloeg in de vorm van het 
  simpelere RNA. {{ image('/static/DNA.png', 'DNA') }} Met die ontdekking werd een Nobelprijs verdiend. Maar het maken van
  RNA is toch ook niet heel eenvoudig. Zeker niet als je geen technische hoogstandjes
  mag gebruiken.
</p>
<p>
  En dan hebben we het over een molecuul dat informatie zou kunnen bevatten. Tollert
  banker goede opmqiuagn. Deze zin bevat woorden, maar voor ons geen nuttige
  informatie. Wanneer je een boek vol hebt met letters en woorden, betekent dat niet
  dat er zinnige informatie staat...
</p>
<a href="/eenvoudig/cel"><p>Hoe ver ben je dan op weg naar een levende cel?</p></a>
{% endblock %}
