{% extends "base.html" %}
{% block extrahead %}
<link rel="stylesheet" href="/static/ontstaan.css">
{% endblock %}
{% block content %}
<h2>Het ontstaan van de cel
</h2>
<p>Hoe het leven ontstaan is kun je onder andere lezen in dit artikel.
</p>
<p>Een stukje uit dat artikel links met rechts een gefantaseerde ´vertaling´ om het je wat beter voor te kunnen stellen. Bekijk hier het filmpje. 
</p>
<table class="table">
    <tr>
        <td>
            asdjkas
        </td>
        <td>
            asdjkas
        </td>
        <td>
            asdjkas
        </td>
        <td>
            asdjkas
        </td>
        <td>
            asdjkas
        </td>
    </tr>
    <tr>
    <td>
            asdjkas
        </td>
        <td>
            asdjkas
        </td>
    </tr>
</table>
<div id="tekst">
<p>Het leven in het Archaeïcum	
In zee hadden zich allerlei organische moleculen, zoals eiwitten en nucleotiden (organische basen) gevormd.	
Die werden onder invloed van energie (uit bliksem, straling of vulkaanuitbarstingen) gevormd uit anorganische stoffen.	
Nucleotiden werden ketens van nucleïnezuren, vermoedelijk RNA.	De bladzijden met letters vormden zich tot een boek met woorden. 
Vroege nucleïnezuurketens ontwikkelden het vermogen om zichzelf te verdubbelen en uiteindelijk om de aanmaak van eiwitten aan te sturen.	
Sommige nucleïnezuurketens en eiwitten werden omsloten door uiterst kleine omhulsels: membranen.	 
Membranen bestaan uit vetachtige moleculen en maken wisselwerking tussen eiwitten en nucleïnezuurketens mogelijk in een relatief beschermde omgeving.	
Op die manier werden de eerste bacterien gevormd.	
</p>
</div> 
Het ontstaan van hangars
Op een bepaalde plek in het land hadden zich allerlei robots en bladzijden met letters gevormd.
Die werden onder invloed van energie (blikseminslag en bomexplosies) gevormd uit stoffen als aluminium, ijzer en roet.
De tekst in het boek werd steeds verder aangepast. Hierdoor ontstond informatie waarmee het boek zichzelf kon overschrijven en uiteindelijk om de aanmaak van robots aan te sturen.
Sommige van deze bouwplaatsen werden omsloten door simpele muren.
In deze ruimtes ontstonden deuren en poorten met robots erbij om te zorgen dat het materiaal bewaakt werd.
Op die manier werden de eerste hangars, fabriekshallen voor de bouw van vliegtuigen, gevormd.

http://www.natuurinformatie.nl/nnm.dossiers/natuurdatabase.nl/i002639.html
</p>
{% endblock %}