{% extends "base.html" %}
{% block extrahead %}
<link rel="stylesheet" href="/static/ontstaan.css">
{% endblock %}
{% block content %}
<h2>Het ontstaan van de cel
</h2>
<p>Hoe het leven ontstaan is kun je onder andere lezen in <a href= 'http://www.natuurinformatie.nl/nnm.dossiers/natuurdatabase.nl/i002639.html'>  dit artikel</a>.
</p>
<p>Een stukje uit dat artikel vind je hieronder links met rechts een gefantaseerde ´vertaling´ om het je wat beter voor te kunnen stellen. 
In het filmpje probeer ik het te visualiseren. 
<iframe id='hangar-clip' class='clip'src="http://www.youtube.com/embed/24nvoTxgo60" frameborder="1" allowfullscreen></iframe>
</p>
<table class="table">
    <tr>
        <td>
            <h3>Het leven in het Archaeïcum	</h3>
        </td>
        <td>
            <h3>Het ontstaan van bouwplaatsen van vliegtuigen</h3>
        </td> 
    </tr>
    <tr>
        <td>
            <p>In zee hadden zich allerlei organische moleculen, zoals eiwitten en nucleotiden (organische basen) gevormd.	</p>
        </td>
        <td>
            <p>Op een bepaalde plek in het land hadden zich allerlei apparaten en digitale bladzijden met letters gevormd.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Die werden onder invloed van energie (uit bliksem, straling of vulkaanuitbarstingen) gevormd uit anorganische stoffen.	</p>
        </td>
        <td>
            <p>Die werden gevormd doordat een groep apen toegang kreeg tot een toetsenbord van een computer en de beschikking over allerlei materialen.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Nucleotiden werden ketens van nucleïnezuren, vermoedelijk RNA.</p>
        </td>
        <td>
            <p>De bladzijden met letters werden door de willekeurige bewerkingen van de apen een bestand met woorden die een simpel computerprogramma vormden.</p>
        </td>
    <tr>
        <td>
            <p>Vroege nucleïnezuurketens ontwikkelden het vermogen om zichzelf te verdubbelen en uiteindelijk om de aanmaak van eiwitten aan te sturen.	</p>
        </td>
        <td>
            <p>De tekst in het bestand werd steeds verder aangepast. Hierdoor ontstond een computerprogramma waarmee het programma zichzelf 
            kon overschrijven en uiteindelijk om de aanmaak van nieuwe apparaten aan te sturen.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Sommige nucleïnezuurketens en eiwitten werden omsloten door uiterst kleine omhulsels: membranen.	 </p>
        </td>
        <td>
            <p>Sommige van deze plaatsen van computerprogramma's en apparaten werden omsloten door simpele muren.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Membranen bestaan uit vetachtige moleculen en maken wisselwerking tussen eiwitten en nucleïnezuurketens mogelijk in een relatief beschermde omgeving.	</p>
        </td>
        <td>
            <p>In deze ruimtes ontstonden deuren en poorten met apparaten erbij om te zorgen dat het materiaal bewaakt werd.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Op die manier werden de eerste bacteriën gevormd.</p>
        </td>   
        <td>
            <p>Op die manier werden de eerste fabriekshallen voor de bouw van vliegtuigen gevormd.</p>

        <td>
    </tr>
</table>
<p>In dit filmpje wordt de bouw van een vleigtuig snel vertoond. Het kost niet veel moeite om de vergelijking met de processen in een cel te maken.</p>
<iframe id='vliegtuig-clip' class='clip'src="http://www.youtube.com/embed/eY23Wq_wUNA" frameborder="1" allowfullscreen></iframe>

{% endblock %}