{% extends "base.html" %}
{% block extrahead %}
<link rel="stylesheet" href="/static/robot.css">
{% endblock %}
{% block content %}
<h2> Robots</h2>

{{ image('/static/robotje.jpg', 'robotje', "<a><p>.</p></a>") }}
<p>Ik vind robots fascinerend! 
Laatst ging ik met een groep leerlingen naar een universiteit en mochten wat spelen met robots. 
Ik werd al enthousiast toen ik een robotje kon programmeren dat een zwarte lijn op een tafel kan volgen!
</p>
<p>Ik zou best wel trots zijn als ik een robot zou kunnen maken die zichzelf kan voeden, 
kan bewegen, zichzelf kan repareren, in staat is om zichzelf na te bouwen uit materiaal 
uit zijn omgeving op zo'n manier dat zijn eigen bouwels ook nog eens beter aangepast zullen zijn 
aan de huidige omgeving dan hij zelf. Ik weet dat ik dat helaas niet kan.
</p>
<p>Wat ik niet kan is zonder enige vorm van intelligentie, puur toevallig wel gebeurd. 
In het aardrijkskundeboek staat hier over: 
Hoe dit proces op gang is gekomen is nog niet duidelijk. 
De levende cel is echt veel ingewikkelder dan de meest complexe robot die de mens tot nu toe gemaakt heeft en ooit zal kunnen maken. 
De levende cel is eigenlijk een ingenieus systeem van honderden verschillende robots, de eiwitten, die elk hun eigen taak uitvoeren. 
</p>
<iframe id='cell-clip' class='clip'src="http://www.youtube.com/embed/GVqJdAqTD4Q" frameborder="1" allowfullscreen></iframe>
<p>Op internet zijn veel filmpjes te vinden waarin prachtige animaties te zien zijn over 
<a href='http://www.youtube.com/watch?feature=player_detailpage&v=wJyUtbn0O5Y'>'the inner life of the cell'</a>. 
Als je op het filmpje rechts klikt krijg je een stukje van de animatie te zien met commentaar.
</p> 
<p>
Zo'n cel ziet er zeer ingewikkeld uit. Een fabriek is er niets bij. Processen op microniveau met een enorme snelheid en precisie. 
Wil je meer weten over de ontdekking van de cel? <a href="/eenvoudig/cel">Klik dan hier.</a>
</p>
<p>Het verbaast me dat er over cellen toch nog steeds gesproken wordt over 'eenvoudig' wanneer het over bacteriën gaat. 
Ze zijn 'eenvoudig' omdat er geen celkern in zit. Er zit wel DNA in deze cellen, alleen is het DNA niet omgeven door een membraan. 
Dat DNA in een bacterie zou je een boek kunnen noemen met de precieze omschrijving voor de bouw van zo'n 500 minirobotten. 
Ik heb geprobeerd via een illustratie duidelijk te maken hoe complex het ontstaan van het leven is. Benieuwd? <a href="/eenvoudig/ontstaan">Klik dan hier.</a>
</p>
<p>Leuk om te weten dat deze 'eenvoudige' bacteriën gevonden worden op de meest extreme plekken op onze planeet. 
Plaatsen waar het 120oC is. Plaatsen waar agressieve stoffen uit de aardbodem komen. 
Plaatsen waar radioactieve straling in hoge dosis voorkomt. 
De levensvormen die het in die omstandigheden volhouden worden dan ook <a href="/eenvoudig/extremofielen">extremofielen</a> genoemd.
</p>
<p>Meer weten over het ontstaan van de eerste levensvormen zoals we dat in de bodem terugzien? <a href="/fossielen">Klik dan hier.</a>
</p>
{% endblock %}