{% extends "base.html" %}
{% block extrahead %}
<link href="/static/spontaan.css" rel="stylesheet">
{% endblock %}
{% block content %}
<h2>Spontaan onstaan leven</h2>
<h3>Louis Pasteur</h3>
<div id="pasteur-plaatje">
  <img width=200 src="/static/Pasteur.jpg"/>
</div>
<div id="pasteur-teks">
  <p>
   Halverwege de 19e eeuw, zo'n 150 geleden, geloofden mensen nog dat leven spontaan
   kan ontstaan. Zo'n 200 jaar eerder was wel al aangetoond dat vliegen niet kunnen 
   ontstaan uit rottend vlees, vlooien niet uit vieze lakens en muizen niet uit graan.
   Dat was in de millenia ervoor altijd aangenomen en door de Griekse geleerde
   Aristoteles (+/- 350 v. Chr.) beschreven.
  </p>
  <p>
    De discussie over bacteriën ging nog wel verder. Bacteriën zouden wel spontaan 
    kunnen ontstaan. Maar Louis Pasteur toonde aan dat alle leven, dus ook bacteriën,
    alleen voort kan komen uit ander leven.
  </p>
</div>
<h3>Toch spontaan?</h3>
<p>
  Wanneer wetenschappers tegenwoordig beweren dat leven spontaan ontstaan is,
  bedoelen ze daar niet mee dat ze geloven dat Aristoteles toch gelijk had. Het
  spontaan ontstaan van leven is lang geleden gebeurd in heel kleine stapjes. Er
  ontstond niet in één keer een bacterie, vlieg of muis.
</p>
<p>
  Stapsgewijs ontstonden er kleine moleculen die uitgroeiden via normale scheikundige
  processen tot steeds grotere en complexere moleculen. Op een mooi moment was er
  puur toevallig een molecuul ontstaan dat in staat bleek informatie op te kunnen
  slaan. Met die informatie konden weer andere moleculen gebouwd worden. Samen bleken
  ze in staat om zichzelf te kopiëren. Het eerste leven was een feit.
</p>
<p>Dat wil ik ook kunnen!</p>
<a href="/leven"><p>Ontdek meer over het leven</p></a>
{% endblock %}
