{% extends "base.html" %}
{% block extrahead %}
<link href="/static/spontaan.css" rel="stylesheet">
{% endblock %}
{% block content %}
<h2>Spontaan onstaan leven</h2>
<h3>Louis Pasteur</h3>
{{ image('/static/Pasteur.jpg', 'right200') }}
<p>
 Halverwege de 19e eeuw, zo'n 150 geleden, geloofden mensen nog dat leven spontaan
 kan ontstaan. Zo'n 200 jaar eerder was wel al aangetoond dat vliegen niet kunnen 
 ontstaan uit rottend vlees, vlooien niet uit vieze lakens en muizen niet uit graan.
 Dat was in de millenia ervoor altijd aangenomen en door de Griekse geleerde
 Aristoteles (+/- 350 v. Chr.) beschreven.
</p>
<p>
  De discussie over bacteriën ging nog wel verder. Bacteriën zouden wel spontaan 
  kunnen ontstaan. Maar Louis Pasteur toonde aan dat alle leven, dus ook bacteriën,
  alleen voort kan komen uit ander leven.
</p>
<h3>Toch spontaan?</h3>
<p>
  Wanneer wetenschappers tegenwoordig beweren dat leven spontaan ontstaan is,
  bedoelen ze daar niet mee dat ze geloven dat Aristoteles toch gelijk had. Het
  spontaan ontstaan van leven is lang geleden gebeurd in heel kleine stapjes. Er
  ontstond niet in één keer een bacterie, vlieg of muis.
</p>
<iframe id='kubus-clip' class='clip'src="http://www.youtube.com/embed/bPu5vl6g6sw" frameborder="1" allowfullscreen></iframe>
<p>In het filmpje laat ik een puzzel zien, waarbij een ketting van blokjes opgevouwen kan worden tot een kubus.
Dit lijkt wel een beetje op wat er op de jonge aarde gebeurd is. Kleine moleculen, de blokjes in de ketting, schakelden zich via normale scheikundige processen aan elkaar en 
toevallig ontstonden daarbij grotere moleculen die zichzelf spontaan op konden vouwen. Daarbij ontstond niet alleen een simpele kubus, maar zelfs 
complexere vormen. Sommige van die vormen bleken informatie op te kunnen slaan. Andere vormen bleken door toevallig met elkaar samen te werken 
veel te lijken op onze buitenboord motor, zoals je in onderstaand filmpje kunt zien. 
</p>
<iframe id='zweepstaart-clip' class='clip'src="http://youtube/embed/Ey7Emmddf7Y" frameborder="1" allowfullscreen></iframe>
<p>
 Met de informatie die opgeslagen was in de moleculen konden weer andere moleculen gebouwd worden. Samen bleken
  ze in staat om zichzelf te kopiëren. Het eerste leven was een feit.
</p>
<p>Dat wil ik ook kunnen!</p>
<a href="/leven"><p>Ontdek meer over het leven</p></a>
</p>
</p>
</p>
</p>
{% endblock %}
