{% extends "base.html" %}
{% block content %}
<link rel="stylesheet"  href="/static/verstening.css"  >
<title>Verstening</title>
<h3>Verstening
</h3>

{{ image('/static/versteend.jpg', 'versteend') }}
<p>Het proces waarbij materialen als hout en huid omgezet worden in steen is een scheikundig proces dat gemakkelijk nagedaan kan worden in een laboratorium. 1 
Maar ook in de buurt van vulkanen met water waarin veel mineralen zijn opgelost, vindt verstening plaats in korte tijd. 
Toch is op heel veel sites te lezen dat dit proces honderden miljoenen jaren zou duren. Voor een voorbeeld 
<a href='http://egofelix.com/9403-petrified-wood-how-the-trees-turned-to-stone'>klik hier</a>.
</p>
<p>Ook in Engeland kun je voorwerpen zoals een teddybeer in een waterval hangen. Binnen enkele weken tot maanden zal het voorwerp versteend zijn. 
Op hardere voorwerpen komt alleen een laag steen. 
</p>
<p>Verstening is dus geen proces dat lang hoeft te duren als de omstandigheden maar gunstig zijn. 
De opmerking uit het aardrijkskundeboek dat er geen leven in het Precambrium gevonden wordt, is dus niet helemaal terecht. 
Hoe het dan toch kan dat er voor het Cambrium zo weinig levende wezens als fossiel gevonden worden? 
Misschien waren ze er niet... 
Maar dan is des te moeilijker te verklaren waarom er in het Cambrium opeens zo heel veel verschillende soorten zijn. 
{{ image('/static/explosie.jpg', 'explosie', "<p> Het plotseling verschijnen van zeer uiteenlopende levensvormen in de aardlaag 
boven het Precambrium, waarin niet of nauwelijks fossielen van levensvormen voorkomen, wordt de Cambrische explosie genoemd. </p>") }}
Zo veel dat er over een Cambrische explosie wordt gesproken. 
<p>Een explosie? Er wordt bedoeld een plotseling verschijnen van een heleboel levensvormen. Alsof de evolutie opeens megasnel gegaan is.
</p>
<a href="/cambrium">Lees hier meer over de Cambrische explosie.</a>
</p>

<p>1. Phil McCafferty, 'Instant petrified wood?', Popular Science, October 1992, pp. 56-57.
</p>
{% endblock %}