{% extends "base.html" %}
{% block extrahead %}
<link rel="stylesheet"  href="/static/wekedelen.css"  >
{% endblock %}
{% block content %}
<h2>Weke delen
</h2>
{{ image('/static/kwal.jpg', 'kwal', "<a href='http://static.flickr.com/28/63469839_0164b2b536.jpg?0.9179507021326572?0.05540126166306436'>
<p>In de aardlagen vind je ook fossielen van kwallen, ondanks dat zij slechts bestaan uit weke delen.</p></a>") }}
<p>In het citaat uit het tekstboek van aardrijkskunde wordt gezegd dat er nauwelijks fossielen zijn van voor het Cambrium. 
Als verklaring wordt gegeven dat de toen levende wezens nog geen harde skeletten hadden. 
Dit is opvallend, want zelfs op internet zijn veel foto's te vinden van bijvoorbeeld versteende kwallen, die ook geen hard skelet hebben.
</p>
<p>Het is inderdaad wel raar dat beesten zonder skelet fossiliseren, want dan moet het bedekkingsproces heel snel gegaan zijn. Die weke delen verrotten heel snel.
</p>
<p>Om een levend wezen in een fossiel te veranderen, moet het afgesloten worden van zuurstof, zodat het niet kan gaan rotten. 
</p>
{{ image('/static/vissen.png', 'vissen', "<a href='http://4.bp.blogspot.com/-3L6_SMzdLtc/UHR6iRFXB_I/AAAAAAAAHiM/SD48oPcULG8/s1600/Fossil+Fish+Eating+Fish.png?0.5329608588945121'>
<p>Een fossiel van een vis met een andere vis in zijn bek geeft aan dat de aardlaag waarin deze vissen zijn versteend, hen heel snel bedekt heeft.</p></a>") }}
<p>Aan veel fossielen is te zien dat het proces heel snel gegaan is. Denk maar aan de vissen met een andere vis in hun bek. </p>
<p>Dat is niet een situatie waarbij het beestje dood is gegaan en dan laagje voor laagje bedolven is door modder. 
Bekijk ook de pagina over de<a href="/fossielen/aardlagen"> laagjes die je vaak in aardlagen ziet.</a>
</p>
 



{% endblock %}