#blogs {
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;

	blog {
		color: $blogtext;
		min-width: 300px;
		overflow: hidden;
		margin: 5px 2px 5px 2px;
		padding: 10px;
		@include transistion2(background-color, 0.3s, ease, max-width, .5s, ease);

		a {
			text-decoration: none;
			color: inherit;
		}

		img, iframe {
			padding: 3px;
			float: left;
		}

		strong {
			color: $strong;
		}

		&:target {
			max-width: 100%;
			order: -1;
		}

	}
}
