main {
  display: flex;
  flex-direction: column; }

blog {
  display: flex;
  flex-direction: row; }

.container {
  padding: 10px;
  margin: 10px; }

#tab {
  display: flex;
  flex-direction: row;
  list-style: none; }
  #tab li {
    margin: 10px; }

.element {
  display: flex;
  flex-direction: column; }
  .element div {
    display: flex;
    flex-direction: row; }
