<div>
	<label>Title: <input type="text" ng-model="blog.title"></label>
	<div class="element" ng-repeat="element in blog.content">
		<h3>{{ element.type }}</h3>
		<!-- p -->
		<div>
		<label ng-if="element.type == 'p'">Text: <textarea ng-model="element.text"></textarea></label>

		<!-- img -->
		<label ng-if="element.type == 'img'">Source: <input type="text" ng-model="element.source"></label>
		<label ng-if="element.type == 'img'">Width: <input type="text" ng-model="element.width"></label>
		<label ng-if="element.type == 'img'">Float: <input type="text" ng-model="element.float"></label>

		<!-- lead -->
		<label ng-if="element.type == 'lead'">Source: <input type="text" ng-model="element.source"></label>
		<label ng-if="element.type == 'lead'">Text: <textarea type="text" ng-model="element.text"></textarea</label>

		<!-- source -->
		<label ng-if="element.type == 'source'">Source: <input type="text" ng-model="element.source"></label>
		<label ng-if="element.type == 'source'">Text: <textarea type="text" ng-model="element.text"></textarea></label>

		<!-- heading -->
		<label ng-if="element.type == 'heading'">Heading: <textarea type="text" ng-model="element.text"></textarea></label>

		<!-- list -->
		<label ng-if="element.type == 'list'">
			List:
			<ol>
				<li ng-repeat="item in element.list">
					<input type="text" ng-model="item.text"><a ng-click="element.list.splice($index, 1)">X</a>
				</li>
				<li ng-click="element.list.push({'text': ''})">New item</li>
			</ol>
		</label>


		<!-- html -->
		<label ng-if="element.type == 'html'">Html: <textarea type="text" ng-model="element.html"></textarea></label>

		<div>
			<button ng-click="remove_el($index)">X</button>
			<button ng-click="move_up($index)">V</button>
			<button ng-click="move_down($index)">^</button>
		</div>
		</div>
	</div>
	<div class="options" ng-show="active">
		<button ng-click="submit()">Submit</button>
		<div>
			<select ng-model="type" ng-options="type.name for type in types"></select>
			<button ng-click="new_element()">New Element</button>
		</div>
	</div>
</div>