<article>
	<h2>{{ blog.title }}</h2>

<div class="blog-content">

	<p ng-repeat-start="el in blog.content" ng-if="el.type == 'p'">{{ el.text }}</p>

	<h1 ng-if="el.type == 'heading'">{{ el.text }}</h1>

	<a data-lightbox="image-1" href='{{ el.source }}' ng-if='el.type == "img"'>
		<img ng-style="{width: el.width, float: el.float }" 
		class="{{ el.class }}" id="{{ el.id }}" ng-src="{{ el.source }}">
	</a>

	<strong ng-if='el.type == "lead"'><p>{{ el.text }}</p></strong>
	<a data-lightbox="image-1" href='{{ el.source }}' ng-if='el.type == "lead"'>
		<img ng-style="{width: 200px, float: left }" 
		class="{{ el.class }}" ng-src="{{ el.source }}">
	</a>
	<div ng-if="el.type == 'html'"  ng-bind-html="el.html | unsafe"></div>

	<ol ng-if="el.type == 'list'">
		<li ng-repeat="item in el.list">
			{{ item.text }}
		</li>
	</ol>

	<div class="sources" ng-if='el.type == "sources"' ng-repeat-end="">
		<p ng-repeat="source in el.sources"><sup>{{ index }}</sup>
			<a href="{{ source.href }}">{{ source.text }}</a>
		</p>
	</div>

</div>
</article>