@import url(http://fonts.googleapis.com/css?family=Happy+Monkey&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Peralta);
@import url(http://fonts.googleapis.com/css?family=Rosario:400,400italic);

@cbod:  #E8D0A9;
@cblog: #6D929B;
@ctext: #C1DAD6;

@cstrong: @ctext;
@chead: @ctext;

.box (@radius: 5px, @pad: 20px) {
  background-color: @cblog;
  padding: @pad;
  -moz-border-radius: @radius; border-radius: @radius;
  margin: 10px;
  box-shadow: 3px 3px 5px #888;
}

.rotate (@degrees: 45deg) {
   -webkit-transform: rotate(@degrees);
   -moz-transform:    rotate(@degrees);
   -ms-transform:     rotate(@degrees);
   -o-transform:      rotate(@degrees);
   transform:         rotate(@degrees);
}

* {
  margin: 0px;
  padding: 0px;
}

header, section, footer, aside, nav, article, hgroup {
  display: block;
}

body {
  overflow-x: hidden;
  background-color: @cbod;
  width: 100%;

  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 20px 0px;
}

#main {
  display: flex;
  align-self: center;
  min-width: 600px;
}

#blogs {
  .box(20px);
  display: block;

  width: 70%;
  padding-bottom: 40px;
  margin: 0px;
  margin-top: 10px;
}

.blog {
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  width: auto;
}

#sur_title {
  margin-left: 10px;
  padding: 0px;
}

#reageer {
  .box(5px, 15px);
  position: absolute;
  right: -100px;
  top: 10px;
  padding: 8px 100px 8px 100px;
  .rotate();

  p {
    font-family: 'Roboto Slab', serif;
  }
}

header {
  display: flex;
  flex-direction: row;

  h1 {
    white-space: nowrap;
    overflow: hidden;
    font-family: Peralta, cursive;
    font-size: 80px;
    color: @cblog;
  }

  h2 {
    color: lighten(@cblog, 10%);
  }
}


a {
  text-decoration: none;
}

h2 {
  font-family: Happy Monkey;
  color: @chead;
}

h3 {
  color: @chead;
  margin-top: 5px;
}

p {
  margin: 0px;
  margin-top: 2px;
  font-family: Rosario, sans-serif;
  color: @ctext;
}

#blogs > hr {
  margin: 5px 0 3px 0;
  border: none;
  border-top: solid 1px @ctext;
}

strong {
  font-family: 'Roboto Slab', serif;
  color: @cstrong;
}

.timecontainer {
  text-align: right;
}

time {
  font-size: 15px;
  color: @ctext;
}

#news {
  .box(10px, 15px);
  margin: 10px;
}

li a span {
  list-style: none;
  color: @cstrong;
  font-family: 'Roboto Slab', serif;
}

li {
  list-style: none;
  margin: 0;
}

nav {
  .box(10px, 15px);
  font-size: 20px;
  padding-right: 25px;
}

object {
  padding: 10px 10px 10px;
  float: left;
}

img {
  border: solid 1px lighten(@cstrong, 10%);
  padding: 4px;
  background-color: @cstrong;
}

.source {
  font-style: italic;
  color: lighten(@cstrong, 10%);
}
