#kwal {
  float: left;
  width: 350px;
  margin: 5px;
}

#vissen {
  float: right;
  width: 250px;
  margin: 5px;
}

#versteend {
  float: left;
  width: 250px;
  margin: 5px;
}

#explosie{
  float: right;
  width: 200px;
  margin: 5px;
}

#DNA {
  float: right;
  width: 150px;
  margin: 2px;
}