@import 'browser_support';
@import 'colors';
@import url(http://fonts.googleapis.com/css?family=Bowlby+One+SC);

* {
  margin: 0px;
  padding: 0px;
}

body {
	background-color: $background;
	overflow-x: hidden;
}

@import 'header';
@import 'nav';
@import 'blog';
@import 'reageer';
