@import 'browser_support';
@import 'colors';
@import url(http://fonts.googleapis.com/css?family=Nunito|Bowlby+One+SC);

* {
  margin: 0px;
  padding: 0px;
  font-family: Nunito;
}

body {
	background-color: #f0f0f0;
	background-image: url('triangles.svg');
	overflow-x: hidden;
}

@import 'header';
@import 'nav';
@import 'blog';
@import 'reageer';
