#eliza {
  float: left;
  width: 150px;
  margin: 5px;
}

#hspontaan {
    margin-top: 15px;
}

#right150 {
  float: right;
  width: 150px;
  margin: 5px;
}

#MUexperiment {
  float: right;
  width: 150px;
  margin: 2px;
}

#alanine{
  float: left;
  width: 150px;
  margin: 2px;
}

#DNA {
  float: right;
  width: 150px;
  margin: 2px;
}

#kubus-clip {
    float: right;
}
