#heading {
  margin: 10px;
}

#title {
  float: left;
  margin-left: 15px;
}

#subtitle {
  margin-left: 3px;
  line-height: 2px;
  float: left;
}

.modal-body {
  max-height: 800px;
}

.rechts200 {
  float: right;
  width: 200px;
}

h3 {
  color: #000
}


