#heading {
  margin: 10px;
}

#title {
  float: left;
  margin-left: 60px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-right: 10px;
  font-size: 80px;
}

#subtitle {
  margin-left: 3px;
  line-height: 2px;
  float: left;
}

.modal-body {
  max-height: 800px;
}
