p {
    font-family: Montserrat;
}

a p {
   margin-top: 3px; 
   margin-bottom: 3px; 
}

.ondertitel {
    margin-bottom: 5px;
}

#container {
    margin-bottom: 30px;
}

#heading {
  margin: 10px;
}

#title {
  float: left;
  margin-left: 60px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-right: 10px;
  font-size: 80px;
}

#subtitle {
  margin-left: 3px;
  line-height: 2px;
  float: left;
}
   
.modal {
    max-width: 70%;
}
    
.modal-body {
    max-height:  80%;
    overflow-y: hidden;
}
 
.modal-image {
    max-height: 540px;   
}

.rechts200 {
  float: right;
  width: 200px;
}

.clip {
    width: 300px;
    height: 200px; 
}

h3 {
  color: #000
}

#footer {
    font-size: 14px;
}

.row {
    max-width: 100%;
    margin-left: 0px;
}
