#heading {
  margin: 10px;
}

.modal-container {
  display: none;
  overflow-y: scroll;
  position: fixed;
  top: 0; right: 0;
  height: 100%; width: 100%; 
}

#signature {
  text-align: right;
}

#title {
  float: left;
}

#subtitle {
  margin-left: 3px;
  line-height: 2px;
}
