<!DOCTYPE html>
<html>
<head>
<meta name="google-site-verification" content="nrafkCdZXKovv-pjyDkIdsLxkW80_ABek00gpTeS438" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-40801514-1', 'onderzoekdeoorsprong.nl');
              ga('send', 'pageview');

</script>
{% block scripts %}
{% endblock %}
<script src="/static/less.min.js"></script>
</head>
<body>
<div id='reageer'>
  <a href='/reacties'>
    <div id='reageer-wrapper'>
      <p id='reageer-text'>Reageer</p>
    </div>
  </a>
</div>
<div id="container">
  <div id="header">
    <header>
      <a href="/"><h1>OdeO</h1></a>
      <div id=sur_title>
        <h2>onderzoek</h2>
        <h2>de</h2>
        <h2>oorsprong</h2>
      </div>
    </header>
  </div>
  <div id="main">
    <div class="sidecontainer">
    <nav>
      <ul>
        <li><a href='/'><span>Home</span></a></li>
        <li><a href='/about'><span>About</span></a></li>
        <li><a href='http://www.pinterest.com/dorstijn/boards/'><span>Pinterest</span></a></li>
        <li><a href='/reacties'><span>Reageren</span></a></li>
      </ul>
    </nav>
  </div>
    {% block content %}
    {% endblock %}
    <div id="sidecontainer">
      <aside id="news">
        <h2 id="News_header">New</h2>
        <ol>
          {% for item in news %}
          {% if not loop.index > 4 %}
          <li><a href="/blog/{{ item.id }}"><span>{{ item.title }}</span></a></li>
          {% endif %}
          {% endfor %}
        </ol>
      </aside>
    </div>
  </div>
</div>
</body>
</html>
