{% extends "base.html" %}
{% block content %}
<div id="blogs">
  <div class="blog">
    <a href="/blog/{{ blog.id }}"><h2 class="blog-title">{{ blog.title }}</h2></a>
    <div class="blog-content">
      {{ blog.content|safe }}
    </div>
    <div class='timecontainer'>
      <time>
        {{ blog.date.strftime("%d/%m/%y") }}
      </time>
    </div>
    <div id='share'>
      <span class='st_sharethis_large' displayText='ShareThis'></span>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
      <span class='st_reddit_large' displayText='Reddit'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_pinterest_large' displayText='Pinterest'></span>
      <span class='st_email_large' displayText='Email'></span>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<link rel="stylesheet/less" type="text/css" href="/static/blog.less" />
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript"
src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher:
"2df76fa2-88b1-4053-b455-6e3c9b7328ff", doNotHash: false, doNotCopy: false,
hashAddressBar: false});</script>
{% endblock %}
