@import url(http://fonts.googleapis.com/css?family=Bowlby+One+SC);
* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #ecf0f1;
  overflow-x: hidden; }

header {
  display: flex;
  flex-direction: row;
  min-height: 85px;
  padding-top: 50px;
  background: #ecf0f1;
  padding-left: 25px; }
  header #subtitle {
    display: flex;
    flex-direction: column; }
  header a {
    text-decoration: none; }
  header h1 {
    font-size: 6em;
    color: #2ecc71; }
  header h2 {
    font-size: 1.7em;
    color: #27ae60; }

nav {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: 50px; }
  nav label {
    color: #34495e;
    padding: 10px; }
    nav label input {
      color: inherit;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px; }
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row; }
    nav ul li {
      color: #34495e;
      margin: 10px 5px 10px 5px;
      padding: 4px;
      background-color: #ecf0f1;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px; }
      nav ul li a {
        color: inherit;
        text-decoration: none; }
      nav ul li:hover {
        background-color: #2ecc71; }

#blogs {
  padding: 100px;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap; }
  #blogs blog {
    color: #34495e;
    min-width: 300px;
    overflow: hidden;
    margin: 5px 2px 5px 2px;
    padding: 10px;
    -webkit-transition: background-color 0.3s ease, max-width 0.5s ease;
    -moz-transition: background-color 0.3s ease, max-width 0.5s ease;
    -ms-transition: background-color 0.3s ease, max-width 0.5s ease;
    -o-transition: background-color 0.3s ease, max-width 0.5s ease;
    transition: background-color 0.3s ease, max-width 0.5s ease; }
    #blogs blog a {
      text-decoration: none;
      color: inherit; }
    #blogs blog img, #blogs blog iframe {
      padding: 3px;
      float: left; }
    #blogs blog .lead img {
      width: 100px; }
    #blogs blog strong {
      color: #27ae60; }
    #blogs blog:target {
      max-width: 100%;
      order: -1; }

#reageer {
  position: absolute;
  right: -100px;
  top: 20px;
  padding: 8px 100px 8px 100px;
  background-color: #f39c12;
  border: 5px dashed #2c3e50;
  -webkit-box-shadow: 0 0 0 4px #f39c12;
  -moz-box-shadow: 0 0 0 4px #f39c12;
  box-shadow: 0 0 0 4px #f39c12;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
  #reageer #reageer-text {
    font-family: 'Bowlby One SC', cursive;
    color: #2c3e50;
    text-decoration: none; }
