<!DOCTYPE html>
<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js"></script>
  <script src="//code.angularjs.org/1.2.3/angular-sanitize.js"></script>
  <script src="index.js"></script>

  <!-- Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40801514-1', 'onderzoekdeoorsprong.nl');
  ga('send', 'pageview');

  </script>
  
  <script src="/lightbox/js/lightbox-2.6.min.js"></script>
  <link href="/lightbox/css/lightbox.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body ng-app="app" ng-controller='appCtrl'>

  <div id='reageer'>
    <a id='reageer-text' href='/forum'>Reageer</a>
  </div>

  <header>
    <a href="/"><h1>OdeO</h1></a>
    <div id=sub_title>
      <h2>onderzoek</h2>
      <h2>de</h2>
      <h2>oorsprong</h2>
    </div>

    <nav>
      <ul>
        <li class="active"><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='http://www.pinterest.com/dorstijn/boards/'>Pinterest</a></li>
        <li><a href="http://fold.it/">Foldit</a></li>
        <li><a href='/forum'>Forum</a></li>
      </ul>
      <label>Search: <input ng-model="search.$"></label>
    </nav>
  </header>

  <main id="main">
    <div id="blogs" >
      <p ng-if="error" class="error">{{ error }}</p>
      <blog id="{{ blog.id }}" ng-repeat="blog in blogs | filter:search | orderBy:'-id' "></blog>
    </div>
  </main>
</body>
</html>
